@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .x {
    @apply flex w-full h-full items-center justify-center;
  }
  .xd {
    @apply bg-rose-200 border-rose-500 border-4;
  }
  .xd2 {
    @apply bg-lime-200 border-lime-500 border-4;
  }
  form .input {
    @apply block mt-1 w-full rounded-md border-2 border-gray-200 py-2 px-3 shadow-sm;
    @apply focus:ring-4 focus:ring-blue-200/50 focus:border-blue-300 outline-none;
  }
  .btn {
    @apply select-none cursor-pointer font-medium rounded-lg inline-flex items-center justify-center;
    @apply text-gray-800 border border-gray-200 bg-gradient-to-b from-white to-gray-100;
    @apply hover:shadow-inner active:shadow-gray-300/50;
    @apply focus:ring-4 focus:ring-blue-200/50 focus:border-blue-300 outline-none;
  }
  .btn.btn-lg {
    @apply px-4 py-2 font-normal;
  }
}

html {
  min-height: 100%;
}
body {
  @apply bg-pink-100 bg-gradient-to-b from-indigo-100/20 to-indigo-100;
  min-height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
